#NumPy

In [1]:
#inctallation
# conda install numpy

# pip instal numpy

In [2]:
import numpy as np

#Arrray

In [3]:
a = np.array([1, 2, 3, 4, 5])
a

array([1, 2, 3, 4, 5])

In [4]:
# 2d martrix

a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [5]:
print(a[0]) # 1st row

print(a[2][1: ]) #2nd row with 2nd ele

[1 2 3 4]
[10 11 12]

# Array
1. array
2. zeros
3. ones
4. empty
5. arrange
6. linspace

In [6]:
# array

arr = np.array([1,2,3,4,5])

# zeros
zeros_arr = np.zeros(5)

# ones
one_arr = np.ones(5)

# empty
empty_arr = np.empty(10)

# arrange [ impo]
arrange_arr = np.arange(10)

# linspace

linspace_arr = np.linspace(1,10, num =5)
print(arr)
print(zeros_arr)
print(one_arr)
print(empty_arr) # random values
print(arrange_arr) # from 0 till number values
print(linspace_arr) # linearly space values

[1 2 3 4 5]
[0. 0. 0. 0. 0.]
[1. 1. 1. 1. 1.]
[1.25733936e-316 0.00000000e+000 6.93903018e-310 0.00000000e+000
 0.00000000e+000 0.00000000e+000 0.00000000e+000 0.00000000e+000
 0.00000000e+000 0.00000000e+000]
[0 1 2 3 4 5 6 7 8 9]
[ 1.    3.25  5.5   7.75 10.  ]

Specifying the datatype

In [7]:
ones = np.ones(10)
print(ones)


ones = np.ones(10, dtype = np.int64)
print(ones)

ones = np.ones(10, dtype = np.float64)
print(ones)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
[1 1 1 1 1 1 1 1 1 1]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

#Sorting, Adding and Removing

In [8]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
arr1 = arr.copy()

arr1[1] = 23
print(arr1)
print(arr)

print("non sorted arr: ", arr)

print("Sorted arr: ", np.sort(arr))

[ 2 23  5  3  7  4  6  8]
[2 1 5 3 7 4 6 8]
non sorted arr:  [2 1 5 3 7 4 6 8]
Sorted arr:  [1 2 3 4 5 6 7 8]

# Concatenate

In [9]:
a = np.array([1, 2])
b = np.array([5, 6, 7, 8])

c = np.concatenate((a, b))
print(c)

[1 2 5 6 7 8]

In [10]:
x = np.array([[1, 2], [3, 4]])
y = np.array([[5, 6]])

np.concatenate((x, y), axis = 0)

array([[1, 2],
       [3, 4],
       [5, 6]])

# Shape, size and dimension of array

In [11]:
array_example = np.array([[[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0 ,1 ,2, 3],
                           [4, 5, 6, 7]]])

#Shape
print(array_example.shape)

#Size
print(array_example.size)

#Dimension
print(array_example.ndim)

(3, 2, 4)
24
3

#Resape

In [12]:
arr = np.arange(10)
print(arr)

#reshape
new_arr = arr.reshape(2,5)
print(new_arr)

[0 1 2 3 4 5 6 7 8 9]
[[0 1 2 3 4]
 [5 6 7 8 9]]

@indexing and Slicing

In [13]:
data = np.array([1, 2, 3])

print(data[1])
print(data[:])
print(data[2:])
print(data[-2:])




# array([1, 2])
# data[1:]
# array([2, 3])
# data[-2:]
# array([2, 3])

2
[1 2 3]
[3]
[2 3]

In [17]:
a = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

print(a<5)

print(a[a<5])

print(a[a % 2 == 0])

[[ True  True  True  True]
 [False False False False]
 [False False False False]]
[1 2 3 4]
[ 2  4  6  8 10 12]

# Vstack, hstack, hspit, view(), copy()

In [23]:
a1 = np.array([[1, 1],
               [2, 2]])

a2 = np.array([[3, 3],
               [4, 4]])


a3 = np.vstack((a1, a2))
print(a3)

a4 = np.hstack((a1, a2))
print(a4)

[[1 1]
 [2 2]
 [3 3]
 [4 4]]
[[1 1 3 3]
 [2 2 4 4]]

In [25]:
arr = np.arange(1, 25).reshape(2,12)
print(arr)

[[ 1  2  3  4  5  6  7  8  9 10 11 12]
 [13 14 15 16 17 18 19 20 21 22 23 24]]

# View : Shallow copy
- The view method to create a new array object that looks at the same data as the original array (a shallow copy).

- Views are an important NumPy concept! NumPy functions, as well as operations like indexing and slicing, will return views whenever possible. This saves memory and is faster (no copy of the data has to be made). However itâ€™s important to be aware of this - modifying data in a view also modifies the original array!

In [32]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
print(a)

b = a.view()
print(b)


b[1][1]  = 123
print(b)
print(a)

# The view point to same location pass by reference, means chnage on one will reflect to others.

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[[  1   2   3   4]
 [  5 123   7   8]
 [  9  10  11  12]]
[[  1   2   3   4]
 [  5 123   7   8]
 [  9  10  11  12]]

#Copy : Deep copy
- Using the copy method will make a complete copy of the array and its data (a deep copy). To use this on your array, you could run:

In [33]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
print(a)

#Copy of a
b = a.copy()
print(b)


b[1][1]  = 123
print(b)
print(a)

# The copy careate new new array at different place pass by value.

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[[  1   2   3   4]
 [  5 123   7   8]
 [  9  10  11  12]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

#Basic operation

In [38]:
a = np.array([1, 2, 3, 4])
b = np.array([[1, 1], [2, 2]])
c = np.array([[3, 3], [4, 4]])

print(a.sum())
print(b + c)
print(b * c)
print(b / c)
print(b % c)

10
[[4 4]
 [6 6]]
[[3 3]
 [8 8]]
[[0.33333333 0.33333333]
 [0.5        0.5       ]]
[[1 1]
 [2 2]]

In [42]:
#sum over axis
print(c)

print(c.sum(axis = 0)) # col
print(c.sum(axis = 1)) # Row

[[3 3]
 [4 4]]
[7 7]
[6 8]

#Broadcasting

In [46]:
data = np.array([1.0, 2.0])
print(data)


print(data*1.2)

[1. 2.]
[1.2 2.4]

# Max, Min, Sum

In [50]:
a = np.arange(1, 15)
print(a)

print(a.max())
print(a.min())
print(a.sum())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14]
14
1
105

Matrix: min, max, sum

In [56]:
a = np.arange(1, 15).reshape(2,7)
print(a)

print(a.sum(axis = 1))
print(a.min(axis = 1)) # Each row min
print(a[1].min(axis = 0)) # Each row min

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]
[28 77]
[1 8]
8

#indexing and slicing operation

In [67]:
d1 = np.array([[1, 2,4], [3,6,4], [5,7 ,6]])
d2 = np.array([[1, 2,4], [3,6,4], [5,7 ,6]])

# print(data)

print(data[:])
print(data[1 : 3, ])
print(data[1 : 3, 1:  ])


print(d1 + d2)

[[1 2 4]
 [3 6 4]
 [5 7 6]]
[[3 6 4]
 [5 7 6]]
[[6 4]
 [7 6]]
[[ 2  4  8]
 [ 6 12  8]
 [10 14 12]]

# Random numbers
- The numpy.random module implements pseudo-random number generators (PRNGs or RNGs, for short) with the ability to draw samples from a variety of probability distributions. In general, users will create a Generator instance with default_rng and call the various methods on it to obtain samples from different distributions.

In [74]:
rng = np.random.default_rng()  # the simplest way to generate random numbers
print(rng.random(3))

arr = np.random.default_rng()
print(arr.random(10))

[0.52803515 0.92530201 0.30076123]
[0.14662653 0.52371945 0.53169789 0.37218164 0.28440358 0.66410568
 0.70964385 0.45781204 0.2375976  0.79728552]

In [81]:
import numpy as np

rng = np.random.default_rng()

arr = rng.random(24).reshape(2,3, 4)
print(arr)

[[[0.88026076 0.98090634 0.81239314 0.80860392]
  [0.61900257 0.93685939 0.88506723 0.90652724]
  [0.1692144  0.39006171 0.222519   0.34744552]]

 [[0.25797636 0.56391314 0.86606428 0.72673314]
  [0.40480197 0.41504664 0.69996007 0.12794464]
  [0.59430209 0.69003853 0.81291321 0.13681055]]]

# Unique, counts

In [89]:
a = np.array([11, 11, 12, 13, 14, 15, 16, 17, 12, 13, 11, 14, 18, 19, 20])

unique_val = np.unique(a)
print(unique_val)
print(len(unique_val))


# print("count of univqie values:", np.count(unique_val))

[11 12 13 14 15 16 17 18 19 20]
10

#Transpose, reshape a matrix

In [101]:
a = np.arange(6)
b = a.reshape(2,3)
print(b)
print(b.reshape(3,2))


#Transpose
c = b.transpose()
print(c)

c = b.T
print(c)

[[0 1 2]
 [3 4 5]]
[[0 1]
 [2 3]
 [4 5]]
[[0 3]
 [1 4]
 [2 5]]
[[0 3]
 [1 4]
 [2 5]]

#Flip

In [107]:
a = np.arange(15)
print(a)

print(np.flip(a))

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[14 13 12 11 10  9  8  7  6  5  4  3  2  1  0]

In [114]:
arr_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
print(arr_2d)

rev_arr_2d = np.flip(arr_2d)
print(rev_arr_2d)


# row revise
rev_arr_row= np.flip(arr_2d, axis = 1)
print(rev_arr_row)

rev_arr_col= np.flip(arr_2d, axis = 0)
print(rev_arr_col)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[[12 11 10  9]
 [ 8  7  6  5]
 [ 4  3  2  1]]
[[ 4  3  2  1]
 [ 8  7  6  5]
 [12 11 10  9]]
[[ 9 10 11 12]
 [ 5  6  7  8]
 [ 1  2  3  4]]

#Flatten

In [119]:
arr_2d = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
print(arr_2d)

a = arr_2d.flatten()
print(a)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[ 1  2  3  4  5  6  7  8  9 10 11 12]

access the docstring for more information

In [121]:
help(max)

# max?

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

#Save a numpy file

In [127]:
a = np.array([1, 2, 3, 4, 5, 6])
np.save('save_file_name',a)

b = np.load('save_file_name.npy')
print(b)

np.save('save_file', a)

[1 2 3 4 5 6]

Do Follow InternBix for more Data related interesting and simple stuff!

Thanks !!!
![internBix logo.png]()