![internBix logo.png]()

**Python Programming**

1. Data types and Variables

In [ ]:
#Boolean
is_true = True

#Integer
integer_val = 7

# Float
float_val = 7.22

#String
string_val = "InternBix"

#print("use to print")
print(is_true)
print(integer_val)
print(float_val)
print(string_val)

True
7
7.22
InternBix

**Operation**

Arithmetic operators

In [ ]:
# Arithmetic operators
a = 5 + 3
b = 10 - 2
c = 4 * 2
d = 10 / 3
e = 5 % 2

Comparison operators

In [ ]:
result1 = 5 > 3
result2 = 10 <= 5
result3 = 4 == 4
result4 = 2 != 3

Logical operators

In [ ]:
result5 = True and False
result6 = True or False
result7 = not True

# Flow and loops

In [ ]:
var = 10
if var > 5:
  print('var is greater then 5')
else:
  print("var is lesser then 5")

var is greater then 5

# For loops

In [ ]:
# For loops
names = ['John', 'Sen', 'Rock']

for name in names:
  print(name)

John
Sen
Rock

# While loop

In [ ]:
#while loop
count = 0

#All even numbers
while count < 10:
  print(count + 2)
  count = count + 2 # this is break statement. which increases at eachiteration

2
4
6
8
10

# Function

In [ ]:
# Function Defination
def funct(list_val):
  for val in list_val:
    print(val + 2)


# Calling function
list_val = [ 2,3,4,5,6]

# increase each list value y 2
funct(list_val)

4
5
6
7
8

#List

In [ ]:
fruits = ["apple", "banana", "orange"]

#append to add any new value
fruits.append('mango')

print(fruits)


for items in fruits:
  print(items)

['apple', 'banana', 'orange', 'mango']
apple
banana
orange
mango

# Dictonary

In [ ]:
Employee = {'name': "Sumit", "age": 23, "City": 'Mumbai', 'Role': 'DS'}

for items in Employee:
  print(items, ": ", Employee[items])

name :  Sumit
age :  23
City :  Mumbai
Role :  DS

# String

In [ ]:
name = "Intern Bix"
print(name)

print(name[:]) # all element
print(name[2:]) # from 2nd element
print(name[2:6]) # from 2nd  till 6th element

Intern Bix
Intern Bix
tern Bix
tern

# Input and Output

In [ ]:
io_name = input("Enter your name: ")
print("Welcome, " + io_name + " to internBix!")

Enter your name: Sumit
Welcome, Sumit to internBix!

# Error Handeling

In [ ]:
try:
  result = 1/0
except ZeroDivisionError:
  print("Error: can't divide by zero.")

Error: can't divide by zero.

# Module and Libraries

In [ ]:
import math

val = math.sqrt(2)
print(val)

1.4142135623730951

List of operation from the math library

In [ ]:
import math

# Trigonometric Functions
angle = math.pi/4
sin_value = math.sin(angle)
cos_value = math.cos(angle)
tan_value = math.tan(angle)

print("sin:", sin_value)
print("cos:", cos_value)
print("tan:", tan_value)

# Exponential and Logarithmic Functions
x = 2
exp_value = math.exp(x)
log_value = math.log(x)
log10_value = math.log10(x)

print("exp:", exp_value)
print("log:", log_value)
print("log10:", log10_value)

# Mathematical Constants
print("pi:", math.pi)
print("e:", math.e)

# Other Mathematical Operations
sqrt_value = math.sqrt(16)
ceil_value = math.ceil(3.7)
floor_value = math.floor(3.7)
factorial_value = math.factorial(5)

print("sqrt:", sqrt_value)
print("ceil:", ceil_value)
print("floor:", floor_value)
print("factorial:", factorial_value)

sin: 0.7071067811865475
cos: 0.7071067811865476
tan: 0.9999999999999999
exp: 7.38905609893065
log: 0.6931471805599453
log10: 0.3010299956639812
pi: 3.141592653589793
e: 2.718281828459045
sqrt: 4.0
ceil: 4
floor: 3
factorial: 120