<a href="https://colab.research.google.com/github/PraveenPrabhat125/DataScience-/blob/main/python_zero_to_analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Types

In [2]:
type(1)

int

In [3]:
type(-10)

int

In [4]:
type(10.2)

float

In [5]:
type(4e2)

float

## Arithmatic

In [9]:
# Addition
print('Addition: ', 10 + 6)

# Substraction
print('Substraction: ', 10 - 6)

# Multiplication
print('Multiplication: ', 10 * 6)

# Division
print('Division: ', 10 / 6)

# Floor division
print('Floor division : ', 10 // 6)

# Reminder
print('Reminder: ', 10 %  6)

Addition:  16
Substraction:  4
Multiplication:  60
Division:  1.6666666666666667
Floor division :  1
Reminder:  4

## Baisc Function

In [15]:
# pow
print('pow: ', pow(10,3))

# abs
print('abs: ', abs(-10.3))

# round
print('Round: ', round(10.5324))

# round -  to nth digit
print('Round: ', round(10.23124, 2))

# bin - binary formt
print('bin: ', bin(512))

# hex formt
print('hex formt: ', hex(512))

pow:  1000
abs:  10.3
Round:  11
Round:  10.23
bin:  0b1000000000
hex formt:  0x200

## Converting str to no

In [18]:
# age will be in str format
age = input('Enter your age: ')
print(age)
print(type(age))


# convert this to int
print(int(age))
print(age)
print(type(age))

Enter your age: 23
23
<class 'str'>
23
23
<class 'str'>

## Strings

In [31]:
type('Hello buddy') # str

name = 'Intern Bix'
print(name[1]) # n
print(name[:]) # Intern Bix
print(name[1:]) # ntern Bix
print(name[:4]) # Inte

print(name[-2]) # i

print(name[::]) # Intern Bix
print(name[::1]) # Intern Bix

print(name[::-1]) # xiB nretnI
print(name[0:10:2]) # Itr i  -- [ start : end : step ]


print(name + ' ', 'Hello')

n
Intern Bix
ntern Bix
Inte
i
Intern Bix
Intern Bix
xiB nretnI
Itr i
Intern Bix  Hello

## String basic function

In [44]:
print(len('InternBix'))

# Basic method
'  i am good'.strip() # 'I am alone' --> Strips all whitespace characters from both ends.

'but way is different !'.split() # ['but', 'way', 'is', 'different', '!']

str = 'Help me'
str.replace('me', 'you')

print(str.startswith('Help'))

print(str.endswith('Help'))

print(str.upper())

print(str.lower())


print(str.capitalize())

print(str.count('e'))

9
True
False
HELP ME
help me
Help me
2

# String formating

In [51]:
name1 = 'Intern'
name2 = 'Bix'

print(name1 + ' ' + name2)

print(f'Fillname : {name2} and {name1}')

print('Hello there:  {} and  {}'.format(name1, name2))

Intern Bix
Fillname : Bix and Intern
Hello there:  Intern and  Bix

# Palindrome check

In [59]:
word = 'ratar'

check = bool(word.find(word[::-1]) + 1)
print(check)

True

## List

In [81]:
my_list  = [1,2, '3', 'Bix', None, True]

print(len(my_list))

print(my_list.index(2)) # '2' is not in list

print(my_list[:])
print(my_list[1:3:])

print(my_list[::-1])
print(my_list[-1])
print(my_list[0:4:2])


## Add to list
my_list = my_list * 2
print(my_list[:])


my_list = my_list + [100]
print(my_list[:])

my_list.append(300)
print(my_list[:])

my_list.insert(2, 600)
print(my_list[:])


my_list.extend([45, 23])
print(my_list[:])

6
1
[1, 2, '3', 'Bix', None, True]
[2, '3']
[True, None, 'Bix', '3', 2, 1]
True
[1, '3']
[1, 2, '3', 'Bix', None, True, 1, 2, '3', 'Bix', None, True]
[1, 2, '3', 'Bix', None, True, 1, 2, '3', 'Bix', None, True, 100]
[1, 2, '3', 'Bix', None, True, 1, 2, '3', 'Bix', None, True, 100, 300]
[1, 2, 600, '3', 'Bix', None, True, 1, 2, '3', 'Bix', None, True, 100, 300]
[1, 2, 600, '3', 'Bix', None, True, 1, 2, '3', 'Bix', None, True, 100, 300, 45, 23]

### Copy list and remove from list

In [90]:
print('Shallow Copy')
bucket1 = ['Pankaj', 'Golu', 'Sumit']

new_bkt1 = bucket1

new_bkt1.insert(2, 'shallo copy')

print(bucket1)
print(new_bkt1)


print('Deep Copy')
bucket = ['Pankaj', 'Golu', 'Sumit']

new_bkt = bucket.copy()

new_bkt.insert(2, 'Deep copy')

print(bucket)
print(new_bkt)

Shallow Copy
['Pankaj', 'Golu', 'shallo copy', 'Sumit']
['Pankaj', 'Golu', 'shallo copy', 'Sumit']
Deep Copy
['Pankaj', 'Golu', 'Sumit']
['Pankaj', 'Golu', 'Deep copy', 'Sumit']

## Remove elemet form list

In [91]:
new_bkt.pop()

'Sumit'

In [92]:
new_bkt.remove('Golu')

In [93]:
print(new_bkt)

['Pankaj', 'Deep copy']

In [95]:
new_bkt.clear()
print(new_bkt)

[]

In [100]:
num_list = [1,-1,5,-12,2]

print(num_list)

num_list = list(num_list.sort())
print(num_list.sort())

[1, -1, 5, -12, 2]

TypeError: 'NoneType' object is not iterable

### Min, max, in

In [104]:
print(1 in num_list)


print(max(num_list))
print(min(num_list))
print(sum(num_list))

True
5
-12
-5

## matrix

In [115]:
matrix  = [[1,2,3], [4,5,6], [10,12,112], [-1,-11,12]]

print(matrix)
print(matrix[2][0])

len(matrix) # row
len(matrix[0]) # col
#Looping through row and col
for rw in range(len(matrix)):
  for col in range(len(matrix[0])):
    print(matrix[rw][col])
  print(' ')

[[1, 2, 3], [4, 5, 6], [10, 12, 112], [-1, -11, 12]]
10
1
2
3

4
5
6

10
12
112

-1
-11
12

## List comprenhension

In [129]:
a  = [i for i in 'hello']
print(a)


b  = [x* 2for x in [1,2,3]]
print(b)

num_list = []
for x in range(10):
  if(x % 2 == 0):
    num_list.append(x)
print(num_list)


c = [ x for x in range(1, 20) if x % 2 == 0]
print(c)

['h', 'e', 'l', 'l', 'o']
[2, 4, 6]
[0, 2, 4, 6, 8]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

## Dictionaries

In [150]:
my_dict =  {'name':'Intern Bix', 'age': 3, 'power': 'vanish'}

print(my_dict)

print(my_dict['name'])
print(my_dict['age'])
print(my_dict['power'])

print(len(my_dict))
print(list[my_dict.keys()])
print(list[my_dict.values()])
print(list[my_dict.items()])

# add new featrure
my_dict['Time'] = 30

print(my_dict)
print(my_dict.get('age'))
print(my_dict.get('age1', 0))

#remove key
del my_dict['name']
my_dict

# dictionary comprehension
{for key, value in my_dict.items}

{'name': 'Intern Bix', 'age': 3, 'power': 'vanish'}
Intern Bix
3
vanish
3
list[dict_keys(['name', 'age', 'power'])]
list[dict_values(['Intern Bix', 3, 'vanish'])]
list[dict_items([('name', 'Intern Bix'), ('age', 3), ('power', 'vanish')])]
{'name': 'Intern Bix', 'age': 3, 'power': 'vanish', 'Time': 30}
3
0

{'age': 3, 'power': 'vanish', 'Time': 30}

In [159]:
my_dict['name'] = 'Intern'
# dictionary comprehension

for keys, values in my_dict.items():
  print(keys, values)

print('\n new_dict\n')
new_dict = {key: value for key, value in my_dict.items()}
print(new_dict)

age 3
power vanish
Time 30
name Intern

new_dict

{'age': 3, 'power': 'vanish', 'Time': 30, 'name': 'Intern'}

### Tuple

In [165]:
my_tuples = ('pi', 'f-test', 'temp')

first, second,  third = my_tuples
print(first, second, third)

print(len(my_tuples))
print(my_tuples[:])


print(my_tuples[:-1])
print(my_tuples[::-1])

pi f-test temp
3
('pi', 'f-test', 'temp')
('pi', 'f-test')
('temp', 'f-test', 'pi')

## Set

In [170]:
my_set = set()

my_set.add(100)
my_set.add(101)


my_set.remove(1001) # {1} --> Raises KeyError if element not found
my_set.discard(1011) # {1} --> Doesn't raise an error if element not found


my_set.clear()

KeyError: 1001

In [182]:
set1 = {1,2,3}
set2 = {3,4,5}

print(set1.union(set2))

print(set1.intersection(set2))

print(set1.difference(set2))

print(set1.symmetric_difference(set2))

print(set1.issubset(set2))
print(set1.issuperset(set2))
print(set1.isdisjoint(set2))

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}
False
False
False

### Comparision

In [ ]:
==                   # equal values
!=                   # not equal
>                    # left operand is greater than right operand
<                    # left operand is less than right operand
>=                   # left operand is greater than or equal to right operand
<=                   # left operand is less than or equal to right operand
<element> is <element> # check if two operands refer to same object in memor

In [ ]:
if <condition that evaluates to boolean>:
  # perform action1
elif <condition that evaluates to boolean>:
  # perform action2
else:
  # perform action3